{% extends "base.html" %}

{% block content %}
<div class="uk-margin-small-top uk-margin-small-bottom">
    <h1>使用者清單</h1>
    {% if user.is_authenticated and user.is_superuser %}
    <a class="uk-button uk-button-primary" href="adduser/">新增使用者</a>
    {% endif %}
</div>
<ul class="js-filter uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
    {% for item in user_list %}
    <li>
        <div class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body uk-link-toggle" id="{{ item.id }}">
            <a class="uk-card-title uk-header-medium" href="#">{{ item.username }}</a>
            {% if user.username == item.username %}
            <div class="uk-card-badge uk-label">目前帳戶</div>
            {% endif %}
            <p>單位：{{ item.department }}</p>
            <p>分機：{{ item.extension }}</p>
            {% if user.is_authenticated and user.is_superuser %}
            <div class="uk-card-footer">
                <a class="uk-button uk-button-primary" href="{% url 'editUser' item.id %}">修改</a>
                {% if user.username != item.username %}
                <a class="uk-button uk-button-danger" href="{% url 'deleteUser' item.id %}">刪除</a>
                {% endif %}
            </div>
            {% elif user.is_authenticated %}
            <div class="uk-card-footer">
                {% if user.username != item.username %}
                <button class="uk-button uk-button-primary" href="{% url 'editUser' item.id %}" disabled>您不是管理者</button>
                {% else %}
                <a class="uk-button uk-button-primary" href="{% url 'editUser' item.id %}">修改</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}