{% extends "base.html" %}

{% block content %}
<div class="uk-margin-small-top uk-margin-small-bottom">
    <h1>使用者清單</h1>
    {% if user.is_authenticated and user.is_superuser %}
    <a class="uk-button uk-button-primary" href="adduser/">新增使用者</a>
    {% endif %}
</div>
<ul class="js-filter uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
    {% for item in classroom_list %}
    <li>
        <div class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body uk-link-toggle" id="{{ item.id }}">
            <h3 class="uk-card-title">{{ item.name }}</h3>
            <div class="uk-card-badge uk-label">目前帳戶</div>
            <p>位置：{{ item.place }}</p>
            {% if user.is_authenticated and user.is_superuser %}
            <div class="uk-card-footer">
                <a class="uk-button uk-button-primary" href="{% url 'editUser' item.id %}">修改</a>
                <a class="uk-button uk-button-danger" href="">刪除</a>
            </div>
            {% elif user.is_authenticated %}
            <div class="uk-card-footer">
                <a class="uk-button uk-button-primary" href="{% url 'editUser' item.id %}">修改</a>
            </div>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
<h1 class="domain">{{ domain }}</h1>
<script>
    $(document).find(".domain").hide()
    $(".uk-card").click((event) => {
        window.location.href=`${$(document).find(".domain").text()}${event.currentTarget.id}/detail`
    })
    $(".uk-button").click((event) => {
        event.stopPropagation();
    })
</script>
{% endblock %}