{% extends "base.html" %}

{% block content %}
<div class="uk-margin-small-top uk-margin-small-bottom">
    <h1>教室清單</h1>
    {% if user.is_authenticated and user.is_superuser %}
    <a class="uk-button uk-button-primary" href="addclassroom">新增教室</a>
    {% endif %}
</div>
<ul class="js-filter uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
    {% for item in classroom_list %}
    <li>
        <div class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body uk-link-toggle" id="{{ item.id }}">
            <a class="uk-card-title uk-header-medium" href="{% url 'classroomDetail' item.id%}">{{ item.name }}</a>
            <p>位置：{{ item.place }}</p>
            {% if user.is_authenticated and user.is_superuser %}
            <div class="uk-card-footer">
                <a class="uk-button uk-button-primary" href="#">預約</a>
                <a class="uk-button uk-button-secondary" href="{% url 'editClassroom' item.id%}">修改</a>
                <a class="uk-button uk-button-danger" href="{% url 'deleteClassroom' item.id%}">刪除</a>
            </div>
            {% elif user.is_authenticated %}
            <div class="uk-card-footer">
                <a class="uk-button uk-button-primary" href="#">預約</a>
            </div>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}